*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cactus Classical Serif", serif;
}

body {
    background-color: #fafafa;
}

.projPageHead{
    display: flex;
    align-items: center;
    padding: 1%;
}

.projPageHead a{
    padding: 20px 50px;
    color: #252525;
    text-decoration: none;
    padding-bottom: 10px;
}
.projPageHead a:hover{
    color: #7b7b7b;
    text-decoration: underline;
}

.projPageHead h1{
        font-family: "Bodoni Moda SC", serif;
}

#projHeader{
    display: flex;
    justify-content: center;
}

.projItems{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 350px;
    padding-bottom: 2%;
    margin-bottom: 1%;
}
.projDescription{
    background-color: #f1f1f1;
    height: 50%;
    width: 90%;
}

.projDescription h2, p{
    padding: 2%;
}

.projDescription a{
    margin-left: 1%;
    margin-right: 1%;
    color: #f1f1f1;
}

#projItem{
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px grey;
    height: 50%;
    width: 95%;
}

.projDescription a{
    height: 35px;
    width: 85px;
    color: #252525;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 208, 255);
    text-decoration: none;
    font-size: small;
    padding: 1%;
}

.projDescription a:hover{
    background-color: rgb(0, 128, 157);
}

.secretPopup{
    display: none;
    position: absolute;
    background-color: red;
    height: 100px;
    width: 210px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -105px ;
    border: 2px solid black;
    padding: 5px;
}

.secretPopup input{
    margin-top: 2px;
}

.secretPopup button{
    margin-top: 2px;
    height: 20px;
    width: 50px;
}