
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cactus Classical Serif", serif;
}

body {
    background-color: #fafafa;
}

.projectHeader{
    border-bottom: solid #252525;
    margin-bottom: 1%;
}

.projectLinks{
    padding-top: 5%;
    align-self: center;
}

.projectHeader ul{
    height: 40px;
    display: flex;
    list-style-type: none;
}

.projectHeader a{
    padding: 10px 50px;
    color: #252525;
    text-decoration: none;
    padding-bottom: 10px;
    font-size: x-large;
}


.projectHeader a:hover{
    color: #7b7b7b;
    text-decoration: underline;
}

.projectPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252525;
    padding: 1%;
}

.projectHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectPanel h1{
    margin-top: 0px;
    font-size: 500%;
    font-family: "Bodoni Moda SC", serif;

}

.projectPreview{
    display: inline-block;
    position: relative;
}

.projectPreview img{
    width: 100%;
    height: 90%;
}

.projectPreview .projButton{
    position: absolute;
    top: 50%;
    border: none;
    height: 40px;
    width: 30px;
    color: #252525;
    border-radius: 10px;
    border: 1px solid #252525;
    box-shadow: 1px 1px 5px;
    background-color: #f6f6f6;
}

#pButtonLeft{
    left: 50%;
    transform: translate(-1700%);
}

#pButtonRight{
    right: 50%;
    transform: translate(1700%);
}

.controlPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controlButton{
    border: 2px solid #252525;
    width: 30px;
    height: 15px;
    background-color: #f6f6f6;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.infoPreview{
    display: flex;
    flex-direction: row;
    color: #252525;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2%;
    padding: .2%;
}

.previewAbout, .previewContact{
    width: 40%;
    height: 300px;
    margin-right: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 2%;
    border-radius: 10px;
    border: 1px solid #252525;
    box-shadow: 1px 1px 5px;
    background-color: #f6f6f6;
}

.previewAbout h1, .previewContact h1{
    font-family: "Bodoni Moda SC", serif;
}

.projButton:hover{
    border: 1px solid #252525;
    box-shadow: 0px 0px;
}

@media (max-width:800px){
    .infoPreview{
        flex-direction: column;
        align-items: center;
    }
    .previewAbout, .previewContact{
        margin-top: 10px;
        width: 80%;
    }
    .projectHeader{
            flex-direction: column;
    }
    .projectHeader a, h1{
        align-items: center;
        font-size: medium;
    }
    .projButton{
        display: none;
    }
}

@media (max-width:1100px){
    #pButtonLeft{
        left: 50%;
        transform: translate(-46.5vw);
    }

    #pButtonRight{
        right: 50%;
        transform: translate(46.5vw);
    }
}

