/*style.css*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Cactus Classical Serif", serif;
}

body {
    background-color: #fafafa;
}

.navHeader ul{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

.navHeader a{
    padding: 50px 50px;
    color: #252525;
    text-decoration: none;
    padding-bottom: 10px;
}

.navHeader a:hover{
    color: #7b7b7b;
    text-decoration: underline;
}

.projectPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #252525;
    padding: 1%;
}

.projectPanel h1{
    margin-bottom: 2%;
    margin-top: 0px;
    font-size: 500%;
    font-family: "Bodoni Moda SC", serif;
    border-bottom: solid #252525;
}

.projectPreview{
    display: inline-block;
    position: relative;
}

.projectPreview img{
    width: 100%;
    height: 90%;
}

.projectPreview .projButton{
    position: absolute;
    top: 50%;
    border: none;
    height: 40px;
    width: 30px;
    color: #252525;
    border-radius: 10px;
    border: 1px solid #252525;
    box-shadow: 1px 1px 5px;
    background-color: #f6f6f6;
}

#pButtonLeft{
    left: 50%;
    transform: translate(-1700%);
}

#pButtonRight{
    right: 50%;
    transform: translate(1700%);
}

.controlPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controlButton{
    border: 2px solid #252525;
    width: 30px;
    height: 15px;
    background-color: #f6f6f6;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.infoPreview{
    display: flex;
    flex-direction: row;
    color: #252525;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2%;
    padding: .2%;
}

.previewAbout, .previewContact{
    width: 50%;
    height: 300px;
    margin-right: 5%;
    padding-left: 1%;
    border-radius: 10px;
    border: 1px solid #252525;
    box-shadow: 1px 1px 5px;
    background-color: #f6f6f6;
}

.previewAbout h1, .previewContact h1{
    font-family: "Bodoni Moda SC", serif;
}

.projButton:hover{
    border: 1px solid #252525;
    box-shadow: 0px 0px;
}

#projHeader{
    display: flex;
    justify-content: center;
}

.projItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;

}

.projRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.projContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}
.projDescription{

    background-color: #f1f1f1;
    height: 50%;
    width: 70%;
}

#projItem{
    margin: 10px;
    box-shadow: 1px 1px 5px grey;
    height: 50%;
    width: 70%;
}